{{- $config := site.Params }}
{{- with $config.topbar }}
<div class="topbar">
	<div class="wrap topbar_inner">
		{{- with .social }}
		<div class="topbar_social" aria-label="Social links">
			{{- range . }}
			<a class="topbar_icon" href="{{ .url }}" rel="{{ .rel | default "noopener nofollow" }}" target="{{ .target | default "_blank" }}" aria-label="{{ .name }}">
				<svg aria-hidden="true" focusable="false"{{ if eq .icon "mastodon" }} viewBox="0 0 24 24"{{ end }}>
					{{- if eq .icon "mastodon" -}}
					<path d="M23.193 7.879c0-5.206-3.411-6.732-3.411-6.732C18.062.357 15.108.025 12.041 0h-.076c-3.068.025-6.02.357-7.74 1.147 0 0-3.411 1.526-3.411 6.732 0 1.192-.023 2.618.015 4.129.124 5.092.934 10.109 5.641 11.355 2.17.574 4.034.695 5.535.612 2.722-.15 4.25-.972 4.25-.972l-.09-1.975s-1.945.613-4.129.539c-2.165-.074-4.449-.233-4.799-2.891a5.499 5.499 0 0 1-.048-.745s2.125.52 4.817.643c1.646.075 3.19-.097 4.758-.283 3.007-.359 5.625-2.212 5.954-3.905.517-2.665.475-6.507.475-6.507zm-4.024 6.709h-2.497V8.469c0-1.29-.543-1.944-1.628-1.944-1.2 0-1.802.776-1.802 2.312v3.349h-2.483v-3.35c0-1.536-.602-2.312-1.802-2.312-1.085 0-1.628.655-1.628 1.944v6.119H4.832V8.284c0-1.289.328-2.313.987-3.07.68-.758 1.569-1.146 2.674-1.146 1.278 0 2.246.491 2.886 1.474L12 6.585l.622-1.043c.64-.983 1.608-1.474 2.886-1.474 1.104 0 1.994.388 2.674 1.146.658.757.986 1.781.986 3.07v6.304z"></path>
					{{- else -}}
					<use href="#{{ .icon }}"></use>
					{{- end -}}
				</svg>
			</a>
			{{- end }}
		</div>
		{{- end }}
		{{- with .link }}
		<a class="topbar_link" href="{{ .url | relURL }}">{{ .label }}</a>
		{{- end }}
	</div>
</div>
{{- end }}
<nav class="wrap nav menu">
	<a href='{{ absLangURL "" }}' class="nav_brand">
		{{- $logos := $config.logo }}
		{{- $litPath := absURL ($logos.lightMode) }}
		{{- $darkPath := absURL ($logos.darkMode) }}
		<picture data-lit="{{ $litPath }}" data-dark="{{ $darkPath }}">
			<img src="{{ $litPath }}" alt="{{ site.Title }} Logo">
		</picture>
		<div class="nav_toggle toggle" title='{{ T "site_menu" }}'>
			{{- partial "sprite" (dict "icon" "harmburger") }}
		</div>
	</a>
	<ul class="nav_body">
		{{- $p := . }}
		{{- range site.Menus.main }}
		<li class="nav-item">
			{{- $active := or ($p.IsMenuCurrent "main" .) ($p.HasMenuCurrent "main" .) }}
			{{- with .Page }}
			{{- $active = or $active ( $.IsDescendant .)  }}
			{{- end }}
			{{- $url := absLangURL .URL }}
			{{- if or (hasPrefix .URL "http") (hasPrefix .URL "www.") }}
				{{- $url = .URL }}
			{{- end }}
			<a class="nav-link{{if $active }} active{{end}}" href="{{ $url }}"><span{{if $active }} class="active"{{end}}>{{ T .Identifier | default .Name }}</span></a>
		</li>
		{{- end }}
		<li class="nav-item nav_search">
			{{- partial "search" . }}
		</li>
		{{- $repo := $config.source }}
		{{- with $config.source }}
		<li class="nav-item nav_repo">
			<a class="nav-link" href="{{ .url }}" target="_blank">
				{{- if .iconLight }}
					{{- $litPath := absURL .iconLight }}
					{{- $darkPath := absURL .iconDark }}
					<picture data-lit="{{ $litPath }}" data-dark="{{ $darkPath }}">
						<img src="{{ $litPath }}" alt="{{ .name }} Repo">
					</picture>
				{{- else }}{{ .name }}{{ end }}
			</a>
		</li>
		{{- end }}
		<li class="nav-item nav_mode">{{ partial "mode" . }}</li>
	</ul>
</nav>
